<h3>About This</h3>

<div class="row z-depth-3">

  <div class="card-content white-text">
    <div class="col m6">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valing-wrapper">
          <div class="col m3">
            <%= image_tag "logo_odigo_noir_cmyk-01.png", class: "circle responsive-img" %>
          </div>
          <div class="col m9">
            <span class="black-text">
              Digital Training for interested co-workers and peers in the wonders of Odigo and Customer Experience. Digital Transformation examples are meant to be found in the ScreenCast Academy.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col m6">
      <a class="twitter-timeline"  href="https://twitter.com/lecharleslozano" data-widget-id="592403994296758272">Tweets by @lecharleslozano</a>
      <script>
        !function(d,s,id) {
          var js, fjs=d.getElementsByTagName(s)[0], p=/^http:/.test(d.location)?'http':'https';
          if(!d.getElementById(id)) {
            js=d.createElement(s);
            js.id=id;
            js.src=p+"://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
          }
        }
        (document,"script","twitter-wjs");
      </script>
    </div>
  </div>

</div>
