/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*=====*=====*=====*=====***=====*=====*=====*=====***=====*=====*=====*=====***=====*=====*=====*=====**/
/*CSSing TRY B4 BUY*/
/*=====*=====*=====*=====***=====*=====*=====*=====***=====*=====*=====*=====***=====*=====*=====*=====**/

/*About This*/
 .row.z-depth-3 {
     padding: 1%;
 }

/*navigation*/
 nav {
    background-color: #44b9d5;
}

/*footer*/
footer.page-footer {
    background-color: #44b9d5;
}
